body {
  background-color: #0A173A;
  overflow: hidden;
}

.brand-logo {

}

.cloth {
  position: absolute;
  width: 700px;
  height: auto;
  top: 0;
  left: 135px;
}

.mint {
  position: absolute;
  top: -95px;
  left: 450px;
  height: 500px;
}

.spoon {
  position: absolute;
  left: 780px;
}

.dish {
  position: absolute;
  right: 0;
  height: 100vh;
  top: -70px;
}

.rosem {
  position: absolute;
  right: 0;
  top: 507px;
  width: 10%
}

.title {
  position: absolute;
  color: red;
  left: 150px;
  top: 285px;
}

.first-paragraph {
 position: absolute;
 color: white;
 left: 150px;
 width: 26%;
 top: 390px;
}

/* About us page styles */

.mask-group {
  position: absolute;
  right: 0;
  width: 500px;
  height: auto;
  top: -40px;
}

.pepper {
  position: absolute;
  top: -60px;
  left: 600px;
}

.aboutus-title {
  position: absolute;
  color: white;
  padding: 20px 90px 20px 20px;
  background-color: red;
  left: 150px;
  top: 80px;
}

.aboutus-firstpar {
  position: absolute;
  color: white;
  width: 727px;
  left: 150px;
  top: 180px;
}

.why-amara {
  position: absolute;
  color: white;
  padding: 20px 90px 20px 20px;
  background-color: red;
  left: 50%;
  top: 39%;
}

.rosemary-aboutus {
  position: absolute;
}

/* Social media buttons styles */
.fa-facebook-f {
  position: absolute;
  bottom: 10px;
}

.fa-twitter {
  position: absolute;
}

.why-amara-paragraph {
  position: absolute;
  color: white;
  width: 40%;
  text-align: right;
  top: 365px;
  left: 265px;
}

.h3-title {
  position: absolute;
  color: red;
  bottom: 230px;
  left: 150px;
}
